.post {
    width: 100%;
    max-width: 1170px;
    min-width: 320px;
    display: flex;
    justify-content: center;
}

.post-checkingAdvert {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 30px;
}

.post__container {
    position: relative;
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 0;
}

.post__contentBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.post__content-number {
    display: flex;
}

.ribbonOrange, .ribbonGreen {
    width: 80px;
    padding: 6px 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.ribbonGreen {
    background-color: #008000;
}

.ribbonOrange {
    background-color: #e77817;
}

.post_number {
    padding-left: 10px;
}

.post__content-title,
.post__content-text,
.post__content-tags {
    margin-bottom: 10px;
}

.post__content-money,
.post__content-number,
.post__content-date {
    margin-bottom: 5px;
}

.viewImg {
    width: 15px;
    margin-right: 5px;
}

.post__content-text {
    font-size: 18px;
    font-weight: 300;
    word-break: break-word;
    overflow-wrap: break-word;
}

.post__content-title {
    font-weight: 500;
    font-size: 30px;
}

.post__content-text:first-letter {
    text-transform: uppercase;
}

.title-tags {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
}

.tag {
    font-size: 14px;
    font-family: sans-serif;
    color: #6495ed;
    margin-right: 5px;
}

.hrefInText {
    color: #6495ed;
}

.tag:hover,
.hrefInText:hover {
    color: #337ab7;
    text-decoration: underline;
}

.post__content-img {
    width: 80%;
    margin: 0 auto 30px;
}

.post-image {
    width: 100%;
    cursor: pointer;
}

.post__content-dateIcon,
.post__content-moneyIcon {
    width: 13px;
    margin: 0 5px 0 1px;
}

.leaflet-wrapperPost {
    width: 100%;
    height: 300px;
    display: none;
}

.leafletBox .leaflet-container {
    height: 300px;
    width: 100%;
}

.post-inputBtnGreen,
.post-inputBtnOrange {
    height: 100%;
    border-radius: 5px;
    outline: none;
    padding: 8px 10px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin-top: 20px;
}

.post-inputBtnGreen,
.response-btnGreen {
    background-color: rgb(0, 128, 0);
}

.post-inputBtnGreen:hover,
.response-btnGreen:hover {
    background-color: rgba(0, 128, 0, .75);
}

.post-inputBtnOrange,
.response-btnOrange {
    background-color: rgb(231, 120, 23);
}

.post-inputBtnOrange:hover,
.response-btnOrange:hover {
    background-color: rgba(231, 120, 23, .75);
}

@media (min-width: 769px) {
    .post__content-img {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .post-image {
        width: 35%;
        min-width: 200px;
    }

    .post__content {
        flex-direction: row;
        justify-content: space-between;
    }

    .leaflet-wrapperPost {
        width: 48%;
    }

    .post__contentBox {
        width: 48%;
        margin-right: 5px;
    }

    .leaflet-wrapperPost {
        display: block;
    }
}